[user]
	email = leon@darkk.net.ru
	name = Leonid Evdokimov
[color]
	ui = auto
[core]
	excludesfile = ~/.config/git/gitignore
[commit]
	template = ~/.config/git/commit.tpl
[alias]
	k = log --graph --decorate
# vim:set tabstop=8 softtabstop=8 shiftwidth=8 noexpandtab:
